.recordings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #242424;
  }
  .recordings h1 {
    font-size: 2.5rem;
    color: #fec268;
    margin-bottom: 20px;
    background-color: #242424;
  }

  .recording-card {
    background: #fec268;
    border: 1px solid #f35f3b;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recording-card h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
    background-color: #fec268;
  }
  
  .recording-card p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
    background-color: #fec268;
  }
  .recording-card strong {
    color: #333;
    background-color: #fec268;
  }
  button {
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f35f3b;
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  .buy-button {
    background-color: #ff6347;
    color: #fff;
  }
  
  .buy-button:hover {
    background-color: #ff4500;
  }
  