#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424
}
@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
    margin-top: 0;
  }
  
}
@media screen and (max-width: 480px) {
  #root {
    padding: 0.5rem;
    height: 649px;
    
  }
  
}

/* #f35f3b
#fec268
#FFEDD1
#5af9c3
#00f596 */
